/* * {
    margin: 0px;
    padding: 0px;
}

body {
    color: #777777;
    background-image: url(../images/papyrus.png);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    overflow: auto;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 15px;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;

}


section {
    margin: 10%;
    position: relative;
    padding: 20px;
    clear: both;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

h1 {
    background-color: #4aaaa5;
    color: white;
    padding: 15px;
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
    color: #4aaaa5;
    padding: 10px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

footer {
    background-color: #666666;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    border-top: 5px solid #4aaaa5;
}

img {
    float: left;
    margin: 10px;
    width: 15%;
    height: 15%;
}

p {
    line-height: 25px;
    font-size: 14px;

}
hr {
    margin: 10px 0px 10px 0px;
    border-color: 1px solid #777777;
}

ul {
    list-style-type: none;
    display: block;
    overflow: hidden;
}

li {
    padding-top: 10px;
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #777777;

}

li a.active {
    background-color: #4aaaa5;
    color: white;
  }

li a:hover:not(.active) {
    background-color: white;
    color: #4aaaa5;
}
#topcontent {
    width: 960px;
    margin: auto;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

input[type=submit]{
    background-color: #4aaaa5;
    color: #ffffff;
    height: 40px;
    width: 80px;
    font-size: 16px;
    padding: 10px;
}

#projects {
    display: block;
    overflow: hidden;
} */